### DotnetCore ###
# .NET Core build folders
bin/
obj/
/.vs
/rsc/eHandbook.Modules/eHandbook.modules.Manual/Infrastructure/Logs/internallog.txt
/rsc/eHandbook.Modules/eHandbook.modules.Manual/Infrastructure/Logs/logfile.txt
