<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C:\Users\335286\Documents\WORK\PROJECTS\EHANDBOOK.APP\eHandbookApp\rsc\eHandbook.Modules\eHandbook.modules.Manual\Infrastructure\Logs\internallog.txt">
  <targets>
    <target name="logfile" xsi:type="File"
            fileName="C:\Users\335286\Documents\WORK\PROJECTS\EHANDBOOK.APP\eHandbookApp\rsc\eHandbook.Modules\eHandbook.modules.Manual\Infrastructure\Logs\${shortdate}_logfile.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target xsi:type="ColoredConsole" name="console"
      layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>